streamlit
pandas
ipykernel
streamlit-option-menu
streamlit-lottie
scikit-learn
sentence-transformers 
faiss-cpu
kaggle
huggingface_hub[hf_xet]
gensim
matplotlib
seaborn
datasets
fastapi
uvicorn
python-multipart
jinja2
requests